[Blocks footerblock]
region = 5
==
<div id="footer" class="footer">
	<div class="container">
		<div class="footer__left">
		   <div class="footer__partners">
		   		<ul>
		   			<li><a href="https://www.bbb.org/us/ca/san-leandro/profile/moving-companies/cross-country-moving-company-1116-465359" target="_blank"><img src="{{ url('/themes/cc/assets/images/acc-bb.png') }}" alt=""></a></li>
		   			<li><a href="https://www.yelp.com/biz/cross-country-movers-los-angeles-2" target="_blank"><img src="{{ url('/themes/cc/assets/images/yelp.png') }}" alt=""></a></li>
		   			<li><a href="https://www.trustpilot.com/review/crosscountrymovingcompany.net" target="_blank"><img src="{{ url('/themes/cc/assets/images/trustpilot.png') }}" alt=""></a></li>
		   			<li><a href="https://www.google.rs/search?q=cross+country+long+distance+movers,+los+angeles,+ca&rlz=1C1GCEA_enUS761US761&oq=Cross+Country+Long+Distance+Movers+los&aqs=chrome.1.69i57j35i39j69i60.2583j0j8&sourceid=chrome&ie=UTF-8" target="_blank"><img src="{{ url('/themes/cc/assets/images/g-store.png') }}" alt=""></a></li>
		   		</ul>
	   		</div>
	   		<span class="licence">Fully Licensed & Insured US DOT 2626333 MC-937654 </span>
	   </div>
	   <div class="footer__right">
		   <div class="footer__social">
		   		<ul>
		   			<li><a href="https://www.facebook.com/crosscountrymovers/" target="_blank"><div class="icon-fb"><span class="path1"></span><span class="path2"></span></div></a></li>
		   			<li><a href="https://twitter.com/CrossCountryLD" target="_blank"><div class="icon-twitter"><span class="path1"></span><span class="path2"></span></div></a></li>
		   			<li><a href="https://www.yelp.com/biz/cross-country-movers-los-angeles-2" target="_blank"><div class="icon-yelp"><span class="path1"></span><span class="path2"></span></div></a></li>
		   			<li><a href="https://www.youtube.com/channel/UCxvVG8c299HF9-yvxUJCNoQ" target="_blank"><div class="icon-youtube"><span class="path1"></span><span class="path2"></span></div></a></li>
		   			<li><a href="https://www.google.rs/search?q=cross+country+long+distance+movers,+los+angeles,+ca&rlz=1C1GCEA_enUS761US761&oq=Cross+Country+Long+Distance+Movers+los&aqs=chrome.1.69i57j35i39j69i60.2583j0j8&sourceid=chrome&ie=UTF-8" target="_blank"><div class="icon-google"><span class="path1"></span><span class="path2"></span></div></a></li>
		   			<li><a href="https://www.instagram.com/crosscountrymovers/" target="_blank"><div class="icon-insta"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></div></a></li>
		   			<li><a href="https://member.angieslist.com/app/reviews/vrf?serviceProviderId=20355891" target="_blank"><div class="icon-angies"><span class="path1"></span><span class="path2"></span></div></a></li>
		   		</ul>
		   </div>
		   <ul class="footer__right__nav">
		   		<li><a href="/privacy-policy">Privacy Policy</a></li>
		   		<li><a href="/shipment-tracking">Shipment tracking</a></li>
		   </ul>
		   <span class="copyright">© 2019 Cross Country Movers</span>
	   </div>
    </div>
</div>